/* General Layout */
body {
  padding: 10px;
}

nav {
  padding-left: 13px;
  padding-right: 13px;
}

/* Table Styles */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 8px;
  text-align: left;
}

/* Button Styles */
/* Adicione isso ao seu CSS existente */
.action-button {
  width: 110px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.button-add {
  background-color: var(--pico-color-jade-550);
}

.button-remove {
  background-color: var(--pico-color-red-550);
  color: var(--pico-color-zinc-50);
}

.button-edit {
  background-color: var(--pico-color-yellow-450);
  color: var(--pico-color-zinc-50);
}

/* Pagination Styles */
.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination a,
.pagination div {
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination .current-page {
  font-weight: bold;
}

.pagination .disabled {
  color: var(--pico-color-grey-500);
  cursor: not-allowed;
}

/* Message Styles */
.error-messages,
.field-errors,
.success-messages,
.field-sucesses {
  margin-bottom: 10px;
}

.error-messages,
.field-errors {
  color: var(--pico-color-red-550);
}

.success-messages,
.field-sucesses {
  color: var(--pico-color-jade-550);
}

.error,
.success {
  margin: 0;
}

#session-message {
  padding-left: 1%;
  font-size: 15px;
}

/* Conditional Display */
#additional_fields:empty + #button-container .button-submit,
#additional_fields:not(:empty) + #button-container .resume-link {
  display: none;
}
