{# vim: set ft=htmldjango #}

{% extends "layout.html" %}

{% block title %}
    Licitação.Rio
{% endblock title %}

{% block content %}
    <h1>Licitação.Rio</h1>
    {% if user.is_authenticated %}
        <h2>Estudos técnicos preliminares</h2>
        <hr>
        <p>Listar todos os ETPs aqui</p>
        <h2>Termos de referência</h2>
        <hr>
        <p>Listar todos os TRs aqui</p>
    {% else %}
        <p>
            Para acessar o conteúdo, faça <a href="{% url 'users:login' %}">login</a> ou <a href="{% url 'users:create' %}">crie um usuário</a>.
        </p>
    {% endif %}
{% endblock content %}
