{# vim: set ft=htmldjango #}
<!DOCTYPE html>

{% load static %}
{% load djmoney %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <meta name="keywords"
              content="Rio de Janeiro, Prefeitura, IplanRio, Licitação">
        <meta name="description" content="Site da plataforma Licitação.Rio">
        <title>

            {% block title %}
            {% endblock title %}
        </title>
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'media/favicon.ico' %}">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/toggle_theme.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@2.0.3"
                integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
                crossorigin="anonymous"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <nav>
            <ul>
                <li>
                    <a class="navbar-brand"
                       href="{% url 'home' %}"
                       data-tooltip="Início"
                       data-placement="bottom">
                        <img data-icon-light="{% static 'media/logo-prefeitura-rio-dark.png' %}"
                             data-icon-dark="{% static 'media/logo-prefeitura-rio-light.png' %}"
                             alt="Logo da Prefeitura do Rio de Janeiro"
                             height="30"
                             width="119">
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <button class="outline secondary"
                            onclick="toggleTheme()"
                            data-tooltip="Alternar tema"
                            data-placement="bottom">
                        <img data-icon-light="{% static 'media/mode-dark.png' %}"
                             data-icon-dark="{% static 'media/mode-light.png' %}"
                             alt="Ícone de alternância de tema"
                             height="30"
                             width="30">
                    </button>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <button class="outline secondary"
                                data-tooltip="Dashboard"
                                data-placement="bottom">
                            <a href="https://dashboard">
                                <img data-icon-light="{% static 'media/dashboard-dark.png' %}"
                                     data-icon-dark="{% static 'media/dashboard-light.png' %}"
                                     alt="Ícone de Dashboard"
                                     height="30"
                                     width="30">
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="outline secondary"
                                data-tooltip="Novo estudo técnico preliminar"
                                data-placement="bottom">
                            <a href="{% url 'etp:index' %}">
                                <img data-icon-light="{% static 'media/etp-dark.png' %}"
                                     data-icon-dark="{% static 'media/etp-light.png' %}"
                                     alt="Ícone de Estudo Técnico Preliminar"
                                     height="30"
                                     width="30">
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="outline secondary"
                                data-tooltip="Novo termo de referência"
                                data-placement="bottom">
                            <a href="{% url 'tr:index' %}">
                                <img data-icon-light="{% static 'media/tr-dark.png' %}"
                                     data-icon-dark="{% static 'media/tr-light.png' %}"
                                     alt="Ícone de Termo de Referência"
                                     height="30"
                                     width="30">
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="outline secondary"
                                data-tooltip="Usuário"
                                data-placement="bottom">
                            <a href="{% url 'users:update' %}">
                                <img data-icon-light="{% static 'media/user-dark.png' %}"
                                     data-icon-dark="{% static 'media/user-light.png' %}"
                                     alt="Ícone de Usuário"
                                     height="30"
                                     width="30">
                            </a>
                        </button>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <button class="outline secondary"
                                    href="{% url 'admin:index' %}"
                                    data-tooltip="Admin"
                                    data-placement="bottom">
                                <a href="{% url 'admin:index' %}">
                                    <img data-icon-light="{% static 'media/admin-dark.png' %}"
                                         data-icon-dark="{% static 'media/admin-light.png' %}"
                                         alt="Ícone de admin"
                                         height="30"
                                         width="30">
                                </a>
                            </button>
                        </li>
                    {% endif %}
                    <li>
                        <button class="outline secondary"
                                data-tooltip="Logout"
                                data-placement="bottom">
                            <a href="{% url 'users:logout' %}">
                                <img data-icon-light="{% static 'media/logout-dark.png' %}"
                                     data-icon-dark="{% static 'media/logout-light.png' %}"
                                     alt="Ícone de Logout"
                                     height="30"
                                     width="30">
                            </a>
                        </button>
                    </li>
                {% else %}
                    <li>
                        <button class="outline secondary"
                                data-tooltip="Criar usuário"
                                data-placement="bottom">
                            <a href="{% url 'users:create' %}">
                                <img data-icon-light="{% static 'media/create-dark.png' %}"
                                     data-icon-dark="{% static 'media/create-light.png' %}"
                                     alt="Ícone de Create"
                                     height="30"
                                     width="30">
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="outline secondary"
                                data-tooltip="Login"
                                data-placement="bottom">
                            <a href="{% url 'users:login' %}">
                                <img data-icon-light="{% static 'media/login-dark.png' %}"
                                     data-icon-dark="{% static 'media/login-light.png' %}"
                                     alt="Ícone de Login"
                                     height="30"
                                     width="30">
                            </a>
                        </button>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <main class="container" id="content">

            {% block content %}
            {% endblock content %}
        </main>
    </body>
    <footer>
        {% if user.is_authenticated %}<div id="session-message">Logado como: {{ user.username }}</div>{% endif %}
    </footer>
</html>
